<div class="container">
        
        <ul id="tab">
            
            <li>
                <h2 class="how-font">1 SNS를 통한 참여</h2>
                <section class="how border-radius">
            <p class="step">Step 1</p><div class="step-contents">핸드폰으로 18초 길이의 영상을 찍으세요</div>
       
      </section>
      <section class="how border-radius">
            <p class="step">Step 2</p>
                  <span style="font-size:37px;">
                  <i class="social_facebook_circle"></i>
                
                
                  <i class="social_twitter_circle"></i>
                
                
                  <i class="social_instagram_circle"></i>
                  </span>
                <br>
                
                참여자의 페이스북, 트위터, 인스타그램 계정에 찍은 영상을 올려주세요
        
      </section>
      <section class="how border-radius">
            <p class="step">Step 3</p>
            업로드 후 해시태그 #18s를 붙여주시면 <br>자동으로 18seconds 홈페이지에 영상이 접수완료 됩니다
        
      </section>
                 
            </li>

            <li>
                <h2 class="how-font">2 Youtube를 통한 참여</h2>
                <section class="how border-radius">
            <p class="step">Step 1</p><div class="step-contents">핸드폰으로 18초 길이의 영상을 찍으세요</div>
       
      </section>
      <section class="how border-radius">
            <p class="step">Step 2</p>
                  <span style="font-size:37px;">
                  <i class="social_youtube_circle"></i>
                  </span>
                <br>
                
                참여자의 유투브 채널에 찍은 영상을 올려주세요
        
      </section>
      <section class="how border-radius">
            <p class="step">Step 3</p>
            업로드 후 구글 플러스 계정에 공유하고 #18s 해시태그를 붙여주시면 <br>자동으로 18seconds 홈페이지에 영상이 접수완료 됩니다
        
      </section>
                 
      <a href="https://www.youtube.com/channel/UCVrmxQJjbmcnzu5PydNrruA?view_as=public">
                  
                </a>
              
                
            </li>

            
    </div>


