<div class="row etrow2 et_mobile_how">
    <!-- Icon Boxes -->
      <section class="section-wrap icon-boxes" id="services">
        <div class="container">
          <h2 class="text-center">참여방법</h2>
          <p class="subheading text-center">이렇게 응모하시면 됩니다!</p>

          <div class="row">

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_film"></i>
                </a>
                <h3>1 영상찍기</h3>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>     
              </div>            
            </div> <!-- end service item -->

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_upload"></i>
                </a>
                <h3>2 영상 올리기</h3>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>   
              </div>            
            </div> <!-- end service item -->

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_tag"></i>
                </a>
                <h3>3 태그달기</h3>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>     
              </div>            
            </div> <!-- end service item -->

            
          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end icon boxes -->
   </div>

