
            <div class="container">
        <ul id="tab">
            <li class="active">
                <h2 class="movie-font">New</h2>
                     <div class="embed-responsive embed-responsive-16by9 et_tagboard_format">

                        <div class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="carousel" tgb-feed-type="default" tgb-post-count="1" tgb-mobile-count="1" tgb-rounded-corners="true" tgb-media-only="true"></div>
                    </div>   
                    
                <br>
            </li>
            <li class="active">
                <h2 class="movie-font">Featured</h2>
                     <div class="embed-responsive embed-responsive-16by9 et_tagboard_format">

                        <div class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="carousel" tgb-feed-type="default" tgb-post-count="1" tgb-mobile-count="1" tgb-rounded-corners="true" tgb-media-only="true"></div>
                    </div>   
                    
                <br>
            </li>
            <li class="active">
                <h2 class="movie-font">All</h2>
                     <div class="embed-responsive embed-responsive-16by9 et_tagboard_format">

                        <div class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="carousel" tgb-feed-type="default" tgb-post-count="1" tgb-mobile-count="1" tgb-rounded-corners="true" tgb-media-only="true"></div>
                    </div>   
                    
                <br>
            </li>
          </ul>
            
    </div>   
    <!-- 
    <div class="row etrow2">
        <div class="col-sm-12">
            <div class="row et_new_and_featured">
                <div class="col-sm-6">
                      <h2 class="et_menu_cont_title_w">New</h2>
                      
                      <div class="embed-responsive embed-responsive-16by9 et_tagboard_format">

                        <div class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="carousel" tgb-feed-type="default" tgb-post-count="1" tgb-mobile-count="1" tgb-rounded-corners="true" tgb-media-only="true"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                      <h2 class="et_menu_cont_title_w">Featured</h2>
                      
                      <div class="embed-responsive embed-responsive-16by9 et_tagboard_format">

                        <div class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="carousel" tgb-feed-type="default" tgb-post-count="1" tgb-mobile-count="1" tgb-rounded-corners="true" tgb-media-only="true"></div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-12">
                  <h2 class="et_menu_cont_title_w">All</h2>
                  <!-- 실시간 태그보드 컨텐츠 들어갈 곳, 1줄의 형태로 5~6개 정도? -->
                  <!-- From Blog 
      
        <div class="container">     

          <div class="row mt-20">
            <div class="tagboard-embed" tgb-slug="18seconds/231934" tgb-layout="grid" tgb-feed-type="default" tgb-rounded-corners="true" tgb-toolbar="none" tgb-animation-type="default" tgb-gutter="10"   ></div>

          </div> <!-- end row 
        </div> <!-- end container 
      

            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
      </div>


      <script src="https://static.tagboard.com/public/js/embedAdvanced.js"></script>
