                <!-- About Us -->
      <section class="about-us-intro" id="about-us">
        <div class="container-fluid">
          <div class="row">
            <!-- 이미지 자리 -->
            <div class="col-md-6 nopadding oh">
              
            </div> <!-- end col -->

            <div class="col-md-6">
              <div class="about-features">

                <div class="col-md-12">
                  
                <div class="col-md-12 col-lg-12 col-lg-offset-1 wow bounceInRight" data-wow-duration="1s" data-wow-delay="0.1s">

                  <div class="about-feature mt-50 mt-lrg-10 mt-mdm-30">
                    <h2>18초란 무엇인가?</h2>
                    <br>
                    <h4><b>SBS 신개념 SNS 영상 대첩!</b></h4>
                    <p>         
                      <br>무엇이 최고의 영상인가?
                      <br>
                      <br>분당 300시간이 넘게 업로드 되는 영상의 홍수 속에서
                      <br>시청자에게 선택 받고, 시청자가 마침내 보게 되어
                      <br>살아남은 영상은 과연 무엇인가?
                      <br>
                      <br>전통적인 매체의 TV스타들이 세계에서
                      <br>가장 조회수가 높은 18초 영상 만들기에 도전함으로써,
                      <br>
                      <br>시대가 바라보는 것을 같이 바라보는
                      <br>가장 트렌디한 TV 프로그램, 18 seconds
                      <br>
                      <br></p>
                  </div>
                </div>

              </div>            
            </div> <!-- end col -->
            
          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end about us intro -->
