<div class="row etrow2">
<section class="section-wrap" id="portfolio-masonry">
        <div class="container">
          <p class="et_menu_cont_title_w">Youtube</p>

          <div class="grid masonry">


            <!-- work item -->
            <div class="masonry-item web-design">
              <div class="work-img">
                <a href="upload/project_8_big.jpg" data-lightbox="true">
                  <img src="upload/project_8.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Gravity Paper</h3>
                    <span>Web Design</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

          </div> <!-- end row -->       
        </div> <!-- end container -->
      </section> <!-- end portfolio-->

      <section class="section-wrap" id="portfolio-masonry">
        <div class="container">
          <h2 class="et_menu_cont_title_w">Facebook</h2>

          <div class="grid masonry">


            <!-- work item -->
            <div class="masonry-item web-design">
              <div class="work-img">
                <a href="upload/project_8_big.jpg" data-lightbox="true">
                  <img src="upload/project_8.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Gravity Paper</h3>
                    <span>Web Design</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

          </div> <!-- end row -->       
        </div> <!-- end container -->
      </section> <!-- end portfolio-->

      <section class="section-wrap" id="portfolio-masonry">
        <div class="container">
          <h2 class="et_menu_cont_title_w">Instagram</h2>

          <div class="grid masonry">


            <!-- work item -->
            <div class="masonry-item web-design">
              <div class="work-img">
                <a href="upload/project_8_big.jpg" data-lightbox="true">
                  <img src="upload/project_8.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Gravity Paper</h3>
                    <span>Web Design</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

          </div> <!-- end row -->       
        </div> <!-- end container -->
      </section> <!-- end portfolio-->

      <section class="section-wrap" id="portfolio-masonry">
        <div class="container">
          <h2 class="et_menu_cont_title_w">Tweeter</h2>

          <div class="grid masonry">


            <!-- work item -->
            <div class="masonry-item web-design">
              <div class="work-img">
                <a href="upload/project_8_big.jpg" data-lightbox="true">
                  <img src="upload/project_8.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Gravity Paper</h3>
                    <span>Web Design</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

            <!-- work item -->
            <div class="masonry-item illustration">
              <div class="work-img">
                <a href="upload/project_9_big.jpg" data-lightbox="true">
                  <img src="upload/project_9.jpg" alt="img">              
                  <div class="work-description text-center">
                    <h3>Business Card</h3>
                    <span>Illustration</span>
                  </div>
                </a>
              </div>
            </div> <!-- end work-item -->

          </div> <!-- end row -->       
        </div> <!-- end container -->
      </section> <!-- end portfolio-->


     
    

</div>
