
            <div class="row"><br><br><br>
                <h2 class="text-center">출연진 소개</h2>
                    <p class="subheading text-center">18초에서 영상배틀을 벌일 00명의 스타들!</p>
                <div class="col-md-6">
                <div class="item">
                                <div class="testimonials-box">
                                    <img src="/upload/testimonial_2.jpg" class="testimonials-img" alt="">
                                    <div class="testimonial-details">
                                        <p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
                                        <h5 class="testimonial-name">John Doe</h5>
                                        <span> CEO of Company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-md-6">
                <div class="item">
                                <div class="testimonials-box">
                                    <img src="upload/testimonial_2.jpg" class="testimonials-img" alt="">
                                    <div class="testimonial-details">
                                        <p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
                                        <h5 class="testimonial-name">John Doe</h5>
                                        <span> CEO of Company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>

                <div class="row">
                
                <div class="col-md-6">
                <div class="item">
                                <div class="testimonials-box">
                                    <img src="upload/testimonial_2.jpg" class="testimonials-img" alt="">
                                    <div class="testimonial-details">
                                        <p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
                                        <h5 class="testimonial-name">John Doe</h5>
                                        <span> CEO of Company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-md-6">
                <div class="item">
                                <div class="testimonials-box">
                                    <img src="/upload/testimonial_2.jpg" class="testimonials-img" alt="">
                                    <div class="testimonial-details">
                                        <p>Thank for such a great template. Quality Theme is awesome. So amazing features and you can create any website with this perfect solution</p>
                                        <h5 class="testimonial-name">John Doe</h5>
                                        <span> CEO of Company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
                </div>

